{% extends '../../dist/templates/dashboard/base.html' %}
{% block page_title %}CLC Data{% endblock %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="text-center mb-4">
                <img src={%static 'images/logo_2022.png' %} alt="Logo" height="52">
                <h3 class="text-center mb-4">Attendance Record Form</h3>
            </div>
                {%if messages%}
                {% for message in messages  %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert"> <i class="bi bi-exclamation-triangle me-1"></i> {{message}} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                {% endfor %}
                {%endif%}

            <form method="post" action="">
            {% csrf_token %}

            <input type="hidden" name="confirm" id="confirm" value="0">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="adults" name="adults" placeholder="Number of Adults in church" required>
                <label for="adults">Adults</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="children" name="children" placeholder="Number of children in church" required>
                <label for="children" class="form-label">Children</label>
            </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="males" name="males" placeholder="Number of Males in church" required>
                    <label for="males" class="form-label">Males</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="females" name="females" placeholder="Number of females in church" required>
                    <label for="females">Females</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="leaders" name="leaders" placeholder="Number of leaders in church" required>
                    <label for="leaders">Leaders</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="first-timers" name="first_timers" placeholder="Number of First timers in church" required>
                    <label for="first-timers" class="form-label">First Timers</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="consistency" name="consistency" placeholder="Consistency from Previous Week" required>
                    <label for="consistency" class="form-label">Consistency from Previous Week</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="date" name="date" placeholder="Date" required value="{{m.dob|date:'Y-m-d'}}">
                    <label for="date" class="form-label">Date</label>
                </div>
                <p class="btn btn-secondary text-white btn-lg btn-block float-end" data-bs-toggle="modal" data-bs-target="#verticalycentered" onclick="submitForm()">Submit</p> <button type="reset" class="btn btn-lg btn-secondary me-2 text-white float-end">Reset</button>
                {% include '../../templates/includes/modal.html' %}
            </form>
        </div>
        <script>
            function submitForm() {

        var males = document.getElementById("males").value;
        var adults = document.getElementById("adults").value;
        var females = document.getElementById("females").value;
        var leaders = document.getElementById("leaders").value;
        var children = document.getElementById("children").value;
        var first_timers = document.getElementById("first-timers").value;
        var consistency = document.getElementById("consistency").value;
        var modalBody = document.querySelector("#verticalycentered .modal-body");
        var totalAttendance = parseInt(adults)  + parseInt(children)  
        modalBody.innerHTML = "<p>Adults: " + adults+"</p>" + "<p>Males: " + males+"</p>" + "<p>Females: " + females+"</p>"+"<p>Leaders: " + leaders+"</p>"+"<p>Children: " + children+"</p>"+"<p>First Timers: " + first_timers+"</p>"+"<p>Consistency: " + consistency+"</p>"+ "<strong>Total Attendance: " + totalAttendance+"</p>";
        // submit the form here
            }
            function confirmValues(){
                var inputField = document.getElementById("confirm");
                inputField.value = "1";
            }
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
               dd = '0' + dd;
            }

            if (mm < 10) {
               mm = '0' + mm;
            }

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("date").setAttribute("max", today);
        </script>

    </div>
</div>
{%endblock%}