{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'images/logo_svg.svg'%}">
    <link rel="icon" type="image/png" sizes="32x32" href=" {%static 'images/logo_svg.svg'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/logo_svg.svg'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
<footer id="footer" class="footer">
    <div class="copyright"> &copy; Copyright <strong><span>Compnay Name</span></strong>. All Rights Reserved</div>
    <div class="credits"> with love <a href="https://freeetemplates.com/">FreeeTemplates</a></div>
 </footer>
</html>