{% extends '../../dist/templates/dashboard/base.html' %}
{% block page_title %}CLC Data - Dashboard{% endblock %}
{% load static %}

{% block content %}
      <main id="main" class="main">
         <div class="pagetitle">
             <div class="row d-flex justify-content-end">
                 <div class="col"><h1>Dashboard</h1>
            <nav>
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard</li>
               </ol>
            </nav></div>

                 <div class="col"> <a class="btn btn-primary float-end rounded-full text-white" href="{% url 'dashboard:attendance' %}">Add Record</a> </div>
             </div>

         </div>
         <section class="section dashboard">
            <div class="row">
               <div class="col-lg-8">
                  <div class="row">
                     <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                           <forms action="post">
                           <div class="filter">
                                 <select name="filter_attendance" id="filter_attendance" class="form-select border-0 input-sm" aria-label="Default select example">
                                    <option selected disabled>Filter</option>
                                    <option value="today">Today</option>
                                    <option value="this_month">This Month</option>
                                    <option value="this_year">This Year</option>
                                 </select>
                           </div>
                           </forms>

                           <div class="card-body">
                              <h5 class="card-title">Attendance</h5>
                              <div class="d-flex align-items-center">
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                                 <div class="ps-3">
                                    <h6 id="total_attendance">{{latest_data.total}}</h6>
                                    {%if pre_sun_percent <= 0%}
                                    <span class="text-danger small pt-1 fw-bold" id="percentage">{{pre_sun_percent}}%</span>
                                    {%else%}
                                    <span class="text-success small pt-1 fw-bold" id="percentage">{{pre_sun_percent}}%</span>
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                           <forms action="post">
                           <div class="filter">
                                 <select name="filter_attendance" id="filter_first_timers" class="form-select border-0 input-sm" aria-label="Default select example">
                                    <option selected disabled>Filter</option>
                                    <option value="today">Today</option>
                                    <option value="this_month">This Month</option>
                                    <option value="this_year">This Year</option>
                                 </select>
                           </div>
                           </forms>

                           <div class="card-body">
                              <h5 class="card-title">First Timers </h5>
                              <div class="d-flex align-items-center">
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                                 <div class="ps-3">
                                    <h6 id="total_first_timers">{{latest_data.first_timers}}</h6>
                                    {% if first_timers_pre_sun_percent <= 0 %}
                                    <span class="text-danger small pt-1 fw-bold" id="percentage_first_timers">{{first_timers_pre_sun_percent}}%</span>
                                 {% else %}
                                 <span class="text-success small pt-1 fw-bold" id="percentage_first_timers">{{first_timers_pre_sun_percent}}%</span>
                                    {% endif %}
                                    </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xxl-4 col-xl-12">
                        <div class="card info-card customers-card">
                           <forms action="post">
                           <div class="filter">
                                 <select name="filter_attendance" id="filter_consistency" class="form-select border-0 input-sm" aria-label="Default select example">
                                    <option selected disabled>Filter</option>
                                    <option value="today">Today</option>
                                    <option value="this_month">This Month</option>
                                    <option value="this_year">This Year</option>
                                 </select>
                           </div>
                           </forms>
                           <div class="card-body">
                              <h5 class="card-title">Consistency</h5>
                              <div class="d-flex align-items-center">
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                                 <div class="ps-3">
                                    <h6 id="total_consistency">{{latest_data.consistency}}</h6>
                                    {%if consistency_pre_sun_percent <= 0%}
                                    <span class="text-danger small pt-1 fw-bold" id="percentage_consistency">{{consistency_pre_sun_percent}}%</span>
                                    {%else%}
                                    <span class="text-success small pt-1 fw-bold" id="percentage_consistency">{{consistency_pre_sun_percent}}%</span>
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-12">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Reports <span>/Today</span></h5>
                               <div class="filter">
                                    <form id="filterForm">
                                        <select name="year" class="form-select" id="year"></select>
                                      </form>
                               </div>

                              <div class="row">
                                 <div class="col-lg-6">
                                    <canvas id="LeadersChart" width="300" height="250"></canvas>
                                    <script>
                                    let LeadersChartctx = document.getElementById('LeadersChart').getContext('2d');
                                    var LeadersChart = new Chart(LeadersChartctx, {
                                        type: 'line',
                                        options: {
                                            responsive : true,
                                            title: {
                                                display: true,
                                                text: 'Leaders'
                                            },
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                    </script>
                                    </div>
                                 <div class="col-lg-6">
                                    <canvas id="FirstTimersChart" width="300" height="250"></canvas>
                                 <script>
                                 var FirstTimersChartctx = document.getElementById('FirstTimersChart').getContext('2d');
                                 var FirstTimersChart = new Chart(FirstTimersChartctx, {
                                     type: 'line',
                                     options: {
                                          responsive : true,
                                            title: {
                                                display: true,
                                                text: 'First Timers'
                                            },
                                         scales: {
                                             y: {
                                                 beginAtZero: true
                                             }
                                         }
                                     }
                                 });
                                 </script>
                              
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-6">
                                    <canvas id="membersChart" width="300" height="250"></canvas>
                                    <script>
                                    var membersChartctx = document.getElementById('membersChart').getContext('2d');
                                    var membersChart = new Chart(membersChartctx, {
                                        type: 'line',
                                        options: {
                                            responsive : true,
                                            title: {
                                                display: true,
                                                text: 'Members'
                                            },
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                    </script>
                                    </div>
                                 <div class="col-lg-6">
                                    <canvas id="consistencyChart" width="300" height="250"></canvas>
                                 <script>
                                 var consistencyChartctx = document.getElementById('consistencyChart').getContext('2d');
                                 var consistencyChart = new Chart(consistencyChartctx, {
                                     type: 'line',
                                     options: {
                                         responsive : true,
                                            title: {
                                                display: true,
                                                text: 'Leaders'
                                            },
                                         scales: {
                                             y: {
                                                 beginAtZero: true
                                             }
                                         }
                                     }
                                 });
                                 </script>
                              
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Recent Activity <span>| Today</span></h5>
                        <div class="activity">
                           <div class="activity-item d-flex">
                              <div class="activite-label">32 min</div>
                              <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                              <div class="activity-content"> Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae</div>
                           </div>
                           <div class="activity-item d-flex">
                              <div class="activite-label">56 min</div>
                              <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                              <div class="activity-content"> Voluptatem blanditiis blanditiis eveniet</div>
                           </div>
                           <div class="activity-item d-flex">
                              <div class="activite-label">2 hrs</div>
                              <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                              <div class="activity-content"> Voluptates corrupti molestias voluptatem</div>
                           </div>
                           <div class="activity-item d-flex">
                              <div class="activite-label">1 day</div>
                              <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                              <div class="activity-content"> Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore</div>
                           </div>
                           <div class="activity-item d-flex">
                              <div class="activite-label">2 days</div>
                              <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                              <div class="activity-content"> Est sit eum reiciendis exercitationem</div>
                           </div>
                           <div class="activity-item d-flex">
                              <div class="activite-label">4 weeks</div>
                              <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                              <div class="activity-content"> Dicta dolorem harum nulla eius. Ut quidem quidem sit quas</div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body pb-0">
                        <h5 class="card-title">Financial Report <span>| This Month</span></h5>
<canvas id="myChart1" width="400" height="400px"></canvas>
<script>
var ctx = document.getElementById('myChart1').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
                  </div>
                  <div class="card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                           <div class="card-body">
                              <h5 class="card-title">Recent Attendance</h5>
                              <table class="table table-borderless datatable">
                                 <thead>
                                    <tr>
                                       <th scope="col">Date</th>
                                       <th scope="col">Male</th>
                                       <th scope="col">Female</th>
                                       <th scope="col">Children</th>
                                       <th scope="col">First Timers</th>
                                       <th scope="col">Consistency</th>

                                       <th scope="col">Leaders:Members</th>
                                       <th scope="col">Leaders:Offering</th>
                                       <th scope="col">Members:Offering</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for data in last_branch_data %}
                                    <tr>
                                       <th scope="row"><a href="{% url 'dashboard:edit_attendance' data.id %}" >{{ data.date }}</a></th>
                                       <td>{{ data.males }}</td>
                                       <td>{{ data.females }}</td>
                                       <td>{{ data.children }}</td>
                                       <td>{{ data.first_timers }}</td>
                                       <td>{{ data.consistency }}</td>
                                        <td>{{ data.leaders_to_members }}</td>
                                        <td>{{ data.leaders_to_offering }}</td>
                                        <td>{{ data.members_to_offering }}</td>
                                    {% if data.status == 0 %}
                                       <td><span class="badge bg-success">Approved</span></td>
                                        {% else %}
                                        <td><span class="badge bg-danger">Pending</span></td>
                                         {% endif %}
                                    </tr>
                                 {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
            </div>
         </section>
      <footer id="footer" class="footer">
         <div class="copyright"> &copy; Copyright <strong><span>CLC</span></strong>. All Rights Reserved</div>
         <div class="credits"> with love <a href="">CLC Data Team</a></div>
      </footer>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
         <script>
    $(document).on('change', '#filter_attendance', function (e) {
       var del = $()

        e.preventDefault();
        console.log()
        $.ajax({
            type: 'POST',
            url: '',
            data: {
               filter_type: "attendance",
                filter_input: $('#filter_attendance').val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (json) {
               console.log("AJAX POST worked");
               document.getElementById("total_attendance").innerHTML = json.total ;
               document.getElementById("percentage").innerHTML = json.percentage+ '%';
               if (json.percentage > 0){
                  document.getElementById("percentage").classList.add('text-success');
                  document.getElementById("percentage").classList.remove('text-danger');

               }
               if (json.percentage <= 0){
                  document.getElementById("percentage").classList.remove('text-success');
                  document.getElementById("percentage").classList.add('text-danger');

               }
               console.log(json.total);
               console.log(json.percentage);
            },
            error: function (xhr, errmsg, err) {
               console.log(err)
            }
        });
    })
</script>
<script>
    $(document).on('change', '#filter_first_timers', function (e) {
       var del = $()

        e.preventDefault();
        console.log()
        $.ajax({
            type: 'POST',
            url: '',
            data: {
               filter_type: "first_timers",
                filter_input: $('#filter_first_timers').val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (json) {
               console.log("AJAX POST worked");
               document.getElementById("total_first_timers").innerHTML = json.total ;
               document.getElementById("percentage_first_timers").innerHTML = json.percentage+ '%';
               if (json.percentage > 0){
                  document.getElementById("percentage_first_timers").classList.add('text-success');
                  document.getElementById("percentage_first_timers").classList.remove('text-danger');

               }
               if (json.percentage <= 0){
                  document.getElementById("percentage_first_timers").classList.remove('text-success');
                  document.getElementById("percentage_first_timers").classList.add('text-danger');

               }
               console.log(json.total);
               console.log(json.percentage);
            },
            error: function (xhr, errmsg, err) {
               console.log(err)
            }
        });
    })
</script>
         <script>
    $(document).on('change', '#filter_consistency', function (e) {
       var del = $()

        e.preventDefault();
        console.log()
        $.ajax({
            type: 'POST',
            url: '',
            data: {
               filter_type: "consistency",
                filter_input: $('#filter_consistency').val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (json) {
               console.log("AJAX POST worked");
               document.getElementById("total_consistency").innerHTML = json.total ;
               document.getElementById("percentage_consistency").innerHTML = json.percentage+ '%';
               if (json.percentage > 0){
                  document.getElementById("percentage_consistency").classList.add('text-success');
                  document.getElementById("percentage_consistency").classList.remove('text-danger');

               }
               if (json.percentage <= 0){
                  document.getElementById("percentage_consistency").classList.remove('text-success');
                  document.getElementById("percentage_consistency").classList.add('text-danger');

               }
               console.log(json.total);
               console.log(json.percentage);
            },
            error: function (xhr, errmsg, err) {
               console.log(err)
            }
        });
    })
</script>
          <script>
$(document).ready(function() {
    $.ajax({
      url: "/chart/filter-options/",
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Load all the options
        jsonResponse.options.forEach(option => {
          $("#year").append(new Option(option, option));
        });
        // Load data for the first option
        loadAllCharts($("#year").children().first().val());
      },
      error: () => console.log("Failed to fetch chart filter options!")
    });
  });

$("#filterForm").on("click", (event) => {
  event.preventDefault();

  const year = $("#year").val();
  loadAllCharts(year)
    console.log(year)
});

function loadChart(chart, endpoint) {
  $.ajax({
    url: endpoint,
    type: "GET",
    dataType: "json",
    success: (jsonResponse) => {
        console.log(jsonResponse)
      // Extract data from the response
      const title = jsonResponse.title;
      const labels = jsonResponse.data.labels;
      const datasets = jsonResponse.data.datasets;

      // Reset the current chart
      chart.data.datasets = [];
      chart.data.labels = [];
        console.log(title)
      // Load new data into the chart
      chart.options.title.text = title;
      chart.options.title.display = true;
      chart.data.labels = labels;
      datasets.forEach(dataset => {
        chart.data.datasets.push(dataset);
      });
      chart.update();
    },
    error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
  });
}

function loadAllCharts(year) {
  loadChart(LeadersChart, `chart/data/leaders/${year}`);
  loadChart(FirstTimersChart, `chart/data/first_timers/${year}`);
  loadChart(membersChart, `chart/data/members/${year}`);
  loadChart(consistencyChart, `chart/data/consistency/${year}`);
}
          </script>
{%endblock%}