{% extends '../../dist/templates/dashboard/base.html' %}
{% block page_title %}CLC Data - Admin Statistics{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% block content %}

    <main id="main" class="main">
        <section class="section dashboard">
            <div class="row">
               <div class="col-lg-12">
                  <div class="row">
                     <div class="col-xxl-3 col-md-6 ">
                        <div class="card rounded-4 info-card  sales-card">
                           <div class="card-body">
                              <h5 class="card-title">Branches</h5>
                              <div class="d-flex align-items-center">
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                     <i class="bi bi-buildings"></i>
                                 </div>
                                 <div class="ps-3">
                                    <h6 id="total_attendance">{{ total_branches }}</h6>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xxl-3 col-md-6">
                        <div class="card rounded-4 info-card revenue-card">
                           <div class="card-body">
                              <h5 class="card-title">Average Attendance <span>| {{ previous_month }}</span></h5>
                              <div class="d-flex align-items-center">
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                                 <div class="ps-3">
                                    <h6 id="total_first_timers">{{ avg_attendance }}</h6>
                                    </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xxl-3 col-md-6">
                        <div class="card rounded-4 info-card customers-card">
                           <div class="card-body">
                              <h5 class="card-title">First timers <span>| {{ previous_month }}</span></h5>
                              <div class="d-flex align-items-center">
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                                 <div class="ps-3">
                                    <h6 id="total_consistency">{{ avg_firsttimers }}</h6>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                      <div class="col-xxl-3 col-md-6">
                        <div class="card rounded-4 info-card customers-card">
                           <div class="card-body">
                              <h5 class="card-title">Average Leaders <span>| {{ previous_month }}</span></h5>
                              <div class="d-flex align-items-center">
                                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                                 <div class="ps-3">
                                    <h6 id="total_consistency">{{ avg_leaders }}</h6>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row m-2">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Attendance Reports</h5>
                               <div class="filter me-3">
                                    <form id="filterForm">
                                      <select class="form-select" name="year" id="year"></select>
                                    </form>
                               </div>
                              <div class="row">
                                 <div class="col-lg-6">
                                    <canvas id="YearlyAttendaceChart" width="240" height="180"></canvas>
                                    <script>
                                    let YearlyAttendaceChartctx = document.getElementById('YearlyAttendaceChart').getContext('2d');
                                    var YearlyAttendaceChart = new Chart(YearlyAttendaceChartctx, {
                                        type: 'line',
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: '',
                                                    font: {
                                                            size: 18
                                                    }
                                                }
                                            }
                                    });
                                    </script>
                                    </div>
                                 <div class="col-lg-6">
                                     <canvas id="YearlyLeadersChart" width="240" height="180"></canvas>
                                 <script>
                                 var YearlyLeadersChartctx = document.getElementById('YearlyLeadersChart').getContext('2d');
                                 var YearlyLeadersChart = new Chart(YearlyLeadersChartctx, {
                                     type: 'line',
                                    options: {
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: 'Custom Chart Title',
                                                    font: {
                                                            size: 18
                                                            }
                                                }
                                            }
                                        }
                                 });
                                 </script>
                                 </div>
                                 <div class="col-lg-6">
                                     <canvas id="YearlyMembersChart" width="240" height="180"></canvas>
                                 <script>
                                 var YearlyMembersChartctx = document.getElementById('YearlyMembersChart').getContext('2d');
                                 var YearlyMembersChart = new Chart(YearlyMembersChartctx, {
                                     type: 'line',
                                    options: {
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: '',
                                                    font: {
                                                            size: 18
                                                            }
                                                }
                                            }
                                        }
                                 });
                                 </script>
                                 </div>
                                 <div class="col-lg-6">
                                  <canvas id="YearlyFirstTimersChart" width="240" height="180"></canvas>
                                 <script>
                                 var YearlyFirstTimersChartctx = document.getElementById('YearlyFirstTimersChart').getContext('2d');
                                 var YearlyFirstTimersChart = new Chart(YearlyFirstTimersChartctx, {
                                     type: 'line',
                                    options: {
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: 'Custom Chart Title',
                                                    font: {
                                                            size: 18
                                                            }
                                                }
                                            }
                                        }
                                 });
                                 </script>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
            </div>
                        <div class="row m-2">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Finance Reports</h5>
                               <div class="filter me-3">
                                    <form id="filterForm">
                                      <select class="form-select" name="year" id="year"></select>
                                    </form>
                               </div>
                              <div class="row">
                                 <div class="col-lg-6">
                                    <canvas id="YearlyAttendaceChart" width="300" height="250"></canvas>
                                    <script>
                                    let YearlyAttendaceChartctx = document.getElementById('YearlyAttendaceChart').getContext('2d');
                                    var YearlyAttendaceChart = new Chart(YearlyAttendaceChartctx, {
                                        type: 'line',
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: '',
                                                    font: {
                                                        size: 18
                                                        }
                                                }
                                            }
                                    });
                                    </script>
                                    </div>
                                 <div class="col-lg-6">
                                     <canvas id="YearlyLeadersChart" width="300" height="250"></canvas>
                                 <script>
                                 var YearlyLeadersChartctx = document.getElementById('YearlyLeadersChart').getContext('2d');
                                 var YearlyLeadersChart = new Chart(YearlyLeadersChartctx, {
                                     type: 'line',
                                    options: {
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: 'Custom Chart Title',
                                                    font: {
                                                            size: 18
                                                            }
                                                }
                                            }
                                        }
                                 });
                                 </script>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-6">
asdsa
                                    </div>
                                 <div class="col-lg-6">
                                  sad
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
            </div>
             </section>
    </main>
<script>
$(document).ready(function() {
    $.ajax({
      url: "/chart/filter-options/",
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Load all the options
        jsonResponse.options.forEach(option => {
          $("#year").append(new Option(option, option));
        });
        // Load data for the first option
        loadAllCharts($("#year").children().first().val());
      },
      error: () => console.log("Failed to fetch chart filter options!")
    });
  });

document.addEventListener('DOMContentLoaded', function() {
    const selectElement = document.getElementById('year');

    selectElement.addEventListener('change', function(event) {
        const selectedValue = event.target.value;
        loadAllCharts(selectedValue)
    });
});

function loadChart(chart, endpoint) {
  $.ajax({
    url: endpoint,
    type: "GET",
    dataType: "json",
    success: (jsonResponse) => {
        console.log(jsonResponse)
      // Extract data from the response
      const title = jsonResponse.title;
      const labels = jsonResponse.labels;
      const datasets = jsonResponse.datasets;

      // Reset the current chart
      chart.data.datasets = [];
      chart.data.labels = [];
      // Load new data into the chart
      chart.options.plugins.title.text = title;
      chart.options.plugins.title.display = true;
      chart.data.labels = labels;
      datasets.forEach(dataset => {
        chart.data.datasets.push(dataset);
      });
      chart.update();
    },
    error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
  });
}

function loadAllCharts(year) {
  loadChart(YearlyAttendaceChart, `yearly-attendance/${year}`);
  loadChart(YearlyLeadersChart, `yearly-leaders/${year}`);
  loadChart(YearlyMembersChart, `yearly-members/${year}`);
  loadChart(YearlyFirstTimersChart, `yearly-firsttimers/${year}`);
}
          </script>
{% endblock %}