{% extends '../../dist/templates/dashboard/base.html' %}
{% block page_title %}CLC Data - Login{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <!--====== SIGNIN ONE PART START ======-->
<section class="signin-area signin-one">
   <div class="container">

      <div class="row justify-content-center">

         <div class="col-lg-5">
             {% include '../../templates/includes/alerts.html' %}
             <div id="messages">
             </div>
             <form action="" method="post" id="new_password">
                {% csrf_token %}
               <div class="signin-form form-style-two rounded-buttons">
                           <div class="text-center mb-4">
            <img src={%static 'images/logo_2022.png' %} alt="Logo" height="52">
        </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-input">
                           <label>Old Password</label>
                           <div class="input-items default">
                                {% render_field forms.old_password  %}
                              <i class="lni lni-key"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input">
                           <label>New Password</label>
                           <div class="input-items default">
                                {% render_field forms.new_password2  %}
                              <i class="lni lni-key"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>

                     <div class="col-md-12">
                        <div class="form-input">
                           <label>Confirm New Password</label>
                           <div class="input-items default">
                               {% render_field forms.new_password1 %}
                              <i class="lni lni-key"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input rounded-buttons">
                           <button
                              class="btn primary-btn rounded-full"
                              type="submit"
                              >
                           Change Password
                           </button>
                        </div>
                        <!-- form input -->
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>

<script>
$(document).ready(function () {
  $("#new_password").submit(function (event) {
    event.preventDefault();

    // Clear any existing messages
    $("#messages").empty();

    // Submit the form using AJAX
    $.ajax({
      type: "POST",
      url: "{% url 'accounts:change_password' %}",
      data: $(this).serialize(),
      success: function (response) {
        if (response.status === "success") {
            console.log(response.message)
            const message = response.message
          $("#messages").append('<div class="alert alert-success alert-dismissible fade show" role="alert"> <i class="=bi bi-hand-thumbs-up me-1"></i>'+ message +  '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                console.log(response)
          // Redirect to login or another page after a short delay
          setTimeout(function () {
            window.location.href = "{% url 'accounts:login' %}";
          }, 3000);
        } else {
            console.log(response.message)
            const message = response.message
          $("#messages").append('<div class="alert alert-danger alert-dismissible fade show" role="alert"> <i class="bi bi-exclamation-triangle me-1"></i>'+ message +  '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
        }
      },
      error: function () {
          console.log("Error")
        $("#messages").append('<p class="error">An error occurred. Please try again.</p>');
      },
    });
  });
});
</script>

<!--====== SIGNIN ONE PART ENDS ======-->

{%endblock%}