{% extends '../../dist/templates/dashboard/base.html' %}
{% block page_title %}CLC Data - Login{% endblock %}
{% load static %}


{% block content %}
    <!--====== SIGNIN ONE PART START ======-->
<section class="signin-area signin-one">
   <div class="container">

      <div class="row justify-content-center">

         <div class="col-lg-5">
             {% include '../../templates/includes/alerts.html' %}
            <form action="" method="post">
                {% csrf_token %}
               <div class="signin-form form-style-two rounded-buttons">
                           <div class="text-center mb-4">
            <img src={%static 'images/logo_2022.png' %} alt="Logo" height="52">
        </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-input">
                           <label>Your account will be under this email</label>
                           <div class="input-items default">
                              <input
                                    type="text"
                                    name="username"
                                    id="username"
                                    class="form-control"
                                    placeholder="Username"
                                    required
                                  />
                              <i class="lni lni-user"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>

                     <div class="col-md-12">
                        <div class="form-input">
                           <label>Password for your account</label>
                           <div class="input-items default">
                              <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="form-control"
                                    placeholder="Password"
                                    required
                                  />
                              <i class="lni lni-key"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input rounded-buttons">
                           <button
                              class="btn primary-btn rounded-full"
                              type="submit"
                              >
                           Sign In!
                           </button>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input text-center">
                           <p class="mb-0">
                              Forgotten Password? <a href="">Sign Up</a>
                           </p>
                            #forgotten_password

                        </div>
                        <!-- form input -->
                     </div>
                  </div>
               </div>
               <!-- signin form -->
            </form>
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== SIGNIN ONE PART ENDS ======-->

{%endblock%}