{% extends '../../dist/templates/dashboard/base.html' %}
{% block page_title %}CLC DATA{% endblock %}
{% load static %}

{% block content %}
    <section class="signin-area signin-one">
   <div class="container">

      <div class="row justify-content-center">

         <div class="col-lg-5">
             {% include '../../templates/includes/alerts.html' %}
            <form action="" method="post">
                {% csrf_token %}
               <div class="signin-form form-style-two rounded-buttons">
                           <div class="text-center mb-4">
            <img src={%static 'images/logo_2022.png' %} alt="Logo" height="52">
        </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-input">
                           <label>Your account will be under this username</label>
                           <div class="input-items default">
                              <input type="text" name="username" maxlength="50" minlength="4" placeholder="OyibiAdmin" required="" id="id_username">
                              <i class="lni lni-user"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>

                     <div class="col-md-12">
                        <div class="form-input">
                           <label>Your account will be under this email</label>
                           <div class="input-items default">
                              <input type="email" name="email" maxlength="100"  placeholder="nicetoseeyou@email.com" id="id_email" required="">
                               <i class="lni lni-envelope"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input">
                           <label>Branch Name</label>
                           <div class="input-items default">
              <input type="text" name="branch_name" maxlength="50" minlength="4" placeholder="Oyibi" id="id_branch" required="">
                              <i class="lni lni-home"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input">
                           <label>Phone Number for your account</label>
                           <div class="input-items default">
                              <input type="text" name="phonenumber" maxlength="100" placeholder="0555358099" required="" id="id_phonenumber">
                              <i class="lni lni-phone"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>

                      <div class="col-md-6">
                      <div class="form-input">
                        <label>Country</label>
                      <div class="input-items default">
                          {% load countries %}
                            {% get_countries as countries %}
                            <select class="form-control" name="country">
                            {% for country in countries %}
                                <option  value="{{ country.code }}">{{ country.name }}</option>
                            {% endfor %}
                            </select>
                            <i class="lni lni-flag"></i>
                      </div>
                      </div>
                      </div>
                        <div class="col-md-6">
                        <div class="form-input">
                           <label>Date Planted</label>
                           <div class="input-items default">
                              <input class="form-control" placeholder="07/01/2018" type="date" name="planted_on" id="id_planted_on">
                              <i class="lni lni-calender"></i>
                           </div>
                        </div>

                        </div>
                     <div class="col-md-6">
                        <div class="form-input">
                           <label>Password for your account</label>
                           <div class="input-items default">
                              <input type="password" name="password" class="form-control" placeholder="Shhh...🤫" required="" id="id_password">
                              <i class="lni lni-key"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-6">
                        <div class="form-input">
                           <label>Repeat Password for your account</label>
                           <div class="input-items default">
                              <input type="password" name="password2" class="form-control" placeholder="Shhh...🤫 but one more time" required="" id="id_password2">
                              <i class="lni lni-key"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input rounded-buttons">
                           <button
                              class="btn primary-btn rounded-full"
                              type="submit"
                              >
                           Register Branch!
                           </button>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input text-center">
                        </div>
                        <!-- form input -->
                     </div>
                  </div>
               </div>
               <!-- signin form -->
            </form>
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
{%endblock%}
