{% extends '../../dist/templates/dashboard/base.html' %}
{% block page_title %}CLC Data - Login{% endblock %}
{% load static %}


{% block content %}
    <!--====== SIGNIN ONE PART START ======-->
<section class="signin-area signin-one">
   <div class="container">

      <div class="row justify-content-center">

         <div class="col-lg-5">
             {% include '../../templates/includes/alerts.html' %}
            <form action="" method="post">
                {% csrf_token %}
               <div class="signin-form form-style-two rounded-buttons">
                           <div class="text-center mb-4">
            <img src={%static 'images/logo_2022.png' %} alt="Logo" height="52">
        </div>
                  <div class="row">
                     <div class="col-md-12">
                         <div class="text-center">
                             <span class="text-center">Please enter your phone number below to receive a one-time verification code for account verification.</span>
                         </div>
                        <div class="form-input">
                           <label>Phone Number</label>
                           <div class="input-items default">
                              <input
                                    type="text"
                                    id="phonenumber"
                                    name="phonenumber"
                                    class="form-control"
                                    required
                                  />
                              <i class="lni lni-phone"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input rounded-buttons">
                           <button
                              class="btn primary-btn rounded-full"
                              type="submit"
                              >
                           Send OTP
                           </button>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input text-center">
                           <p class="mb-0">
                               Contact Admin
                           </p>
                            <!--forget password-->

                        </div>
                        <!-- form input -->
                     </div>
                  </div>
               </div>
               <!-- signin form -->
            </form>
         </div>
      </div>
      <!-- row -->
   </div>
    <!-- container -->
</section>
<!--====== SIGNIN ONE PART ENDS ======-->

{%endblock%}