
       <div class="modal fade" id="editAttendance" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
             <div class="modal-content">
                <div class="modal-header">
                   <h5 class="modal-title">Update Attendance Record</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
<form method="post" action="">
            {% csrf_token %}

            <input type="hidden" name="confirm" id="confirm" value="0">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="adults" name="adults" placeholder="Number of Adults in church" required>
                <label for="adults">Adults</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="children" name="children" placeholder="Number of children in church" required>
                <label for="children" class="form-label">Children</label>
            </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="males" name="males" placeholder="Number of Males in church" required>
                    <label for="males" class="form-label">Males</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="females" name="females" placeholder="Number of females in church" required>
                    <label for="females">Females</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="leaders" name="leaders" placeholder="Number of leaders in church" required>
                    <label for="leaders">Leaders</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="first-timers" name="first_timers" placeholder="Number of First timers in church" required>
                    <label for="first-timers" class="form-label">First Timers</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="consistency" name="consistency" placeholder="Consistency from Previous Week" required>
                    <label for="consistency" class="form-label">Consistency from Previous Week</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="offering" name="offering" placeholder="Offerings" required>
                    <label for="offering" class="form-label">Offering</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="tithe" name="tithe" placeholder="tithes" required>
                    <label for="tithe" class="form-label">Tithe</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="date" name="date" placeholder="Date" required value="{{m.dob|date:'Y-m-d'}}">
                    <label for="date" class="form-label">Date</label>
                </div>
                <p class="btn btn-secondary text-white btn-lg btn-block float-end" data-bs-toggle="modal" data-bs-target="#verticalycentered" onclick="submitForm()">Submit</p> <button type="reset" class="btn btn-lg btn-secondary me-2 text-white float-end">Reset</button>
                {% include '../../templates/includes/modal.html' %}
            </form>
                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> <button type="submit" class="btn btn-primary" onclick="confirmValues()" >Confirm</button></div>
             </div>
          </div>
       </div>
